<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//log4j/log4j Configuration//EN" "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="Console" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-7p %d [%t] %c %x - %m%n"/>
        </layout>
    </appender>

    <appender name="Debug" class="org.apache.log4j.RollingFileAppender">
        <param name = "Threshold" value = "DEBUG" />
        <param name="File" value="log/debug.log" />
        <param name="Encoding" value="UTF-8" />
        <param name="MaxFileSize" value="10MB" />
        <param name="MaxBackupIndex" value="10" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-7p %d [%t] %c %x - %m%n"/>
        </layout>
    </appender>

    <appender name="Error" class="org.apache.log4j.RollingFileAppender">
        <param name = "Threshold" value = "ERROR" />
        <param name="File" value="log/error.log" />
        <param name="Append" value = "true" />
        <param name="immediateFlush" value="true"/>
        <param name="Encoding" value="UTF-8" />
        <param name="MaxFileSize" value="10MB" />
        <param name="MaxBackupIndex" value="10" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-7p %d [%t] %c %x - %m%n"/>
        </layout>
    </appender>

    <root>
        <priority value ="debug" />
        <appender-ref ref="Console" />
        <appender-ref ref="Debug" />
        <appender-ref ref="Error" />
    </root>

</log4j:configuration>